---
import BaseLayout from "../layouts/BaseLayout.astro";

---
<style>
  h3 {
    font-size: 36px;
    font-weight: bold;
  }

  h5 {
    font-size: 20px;
    margin: 0 0 16px;
  }

  .faq {
    margin: 96px auto 0;
    width: 600px;
    text-align: start;
    line-height: 24px;
  }
</style>

<BaseLayout>
<section class="faq">
  <h3>F.A.Q.</h3>
  <article>
    <h5>Who is behind Week?</h5>
    <p>We are small team of two people who are building Week in their free time.</p>
  </article>
  <article>
    <h5>Why are you building another calendar app?</h5>
    <p>
      <strong>Eden (founder)</strong>: You've noticed already that there are tons of productivity apps and the count keeps growing. I've been searching for the right tool for years and finally found out that simple lists of tasks don't work for me. It was hard for me to select one and only one task to work on. I used to switch context constantly. The results were deplorable. I couldn't finish what I've started and in the end of the day I felt tired and broken. What have I done today? What have I achieved? Am I wasting my precious time? I couldn't answer these questions until I tried time blocking technique.
    </p>
    <p>
      Finally I was able to achieve something. I started planning my tasks in advance and when I saw them on the calendar, it was easy to tell how I spend my time. At the time there were not so many tools that allowed to drop your tasks on a calendar, so I decided to build my own. I wanted to build ultimate app that helps me to constantly monitor my life and organise my tasks. 
    </p>
    <p>
      Every person is different so I can't tell if Week is going to work for you, but I encourage you to try it. If you have the same problems I had or you're just a fan of time blocking, I think you can find in our app something that will make your life easier.
    </p>
    <p>
      <strong>Albert (QA engineer)</strong>: The market is saturated with numerous time managers, each boasting various functionalities, yet united by one problem - usability complexity. When you're in the hunt for a new app to streamline your time, you're not inclined to squander time acquainting yourself with its features. Our goal at Week is to ensure that everything is immediately graspable right from the start. We aim to fashion a time management tool where users can promptly dive into arranging their schedules without expending time deciphering the interface.
    </p>
  </article>
  <article>
    <h5>Week still doesn't have paid plan. Why?</h5>
    <p>
      Week is a self-funded project that doesn't require a crazy amount of money to keep it working. We want to become profitable but at the moment we are more focused on building a great app and a strong community. Now Week has the only limitation in free version - the amount of Google accounts that can be used simultaneously. If you really need this feature - please contact us via email and we will give you a year of access to a full version.
    </p>
  </article>
  <article>
    <h5>How can I be sure Week won't shut down in the near future?</h5>
    <p>
      Unfortunately, no one can be sure in such thing, but we're very positive about out future. We don't have investors that require fast grow or some minimum revenue to continue our support. We're autonomous and our goal is to keep it that way. In case something unforeseen happens and we will have to shut down Week, we will try to do our best to migrate you to an another tool.
    </p>
  </article>
</section>
</BaseLayout>