---
import { Calendar } from "./Calendar/Calendar";
import { MyDay } from "./MyDay/MyDay";
import { Note } from "./Note/Note";
import { Projects } from "./Projects/Projects";
import { Regions } from "./Regions/Regions";
import { Goals } from "./Goals/Goals";
import { Statistics } from "./Statistics/Statistics";
import { CommandBar } from "./CommandBar/CommandBar";
import { Tracker } from "./Tracker/Tracker";
import { Tasks } from "./Tasks/Tasks";
---

<style>
  main {
    margin-top: 256px;
  }

  h3 {
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    main {
      margin-top: 64px;
    }
    
  }

  article {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
  }

  h3 {
    font-size: 30px;
    font-weight: bold;
  }

  .block {
    flex: 1 0 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .block .content {
    flex-shrink: 0;
    height: 350px;
    width: 100%;
    display: flex;
    background-color: #fbfbfb;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 10%);
    border-radius: 4px;
    flex-direction: column;
  }

  .block .description {
    margin-top: 8px;
    font-size: 20px;
    text-align: left;
  }

  .block .note {
    font-size: 11px;
    border-radius: 8px;
    color: #fff;
    padding: 2px 4px;
    margin-bottom: 16px;
  }

  .block .note.comingSoon {
    background-color: cornflowerblue;
  }

  .block .note.new {
    background-color: forestgreen;
  }

  .block .description strong {
    font-weight: bold;
  }
</style>
<main>
  <h3>
    How Week can help you<br />
     to be more organised?
  </h3>
  <article>
    <div class="block">
      <div class="content">
        <Tasks />
      </div>
      <div class="description">
        <strong>Color coding</strong> makes it easier to quickly locate the task
        you needed.
      </div>
    </div>
    <div class="block">
      <div class="content">
        <Projects />
      </div>
      <div class="description">
        <strong>Project and tags</strong> help you categorise your tasks and
        focus on most important things.
      </div>
    </div>
    <div class="block">
      <div class="content">
        <MyDay />
      </div>
      <div class="description">
        <strong>My Day page</strong> displays tasks and events for the selected
        date.
      </div>
    </div>
    <div class="block">
      <div class="content">
        <CommandBar client:load />
      </div>
      <div class="description">
        <strong>Command bar</strong> helps you to quickly find tasks and execute
        commands.
      </div>
    </div>
    <div class="block">
      <div class="content">
        <Tracker client:load />
        <div class="note new">New</div>
      </div>
      <div class="description">
        The <strong>time tracker</strong> allows you to manually track the time
        spent on tasks.
      </div>
    </div>
    <div class="block">
      <div class="content">
        <Goals />
        <div class="note comingSoon">Coming Soon</div>
      </div>
      <div class="description">
        <strong>Goals</strong> will help you to track your dreams and achieve
        them.
      </div>
    </div>
  </article>
</main>