extends layout

block content
  section
    .logo
      img(src="images/logo-big.svg")
      h1 Week
    h1.tagline Task management tool<br/> with heavy focus on planning
  img.screenshot(src="week app.png")

  section
    .features
      .feature
        h2 Organize tasks in projects
        img(src="organize.png")

      .feature
        h2 Choose colours for your projects
        img(src="colours.png")

      .feature
        h2 Move tasks to calendar to plan them
        img(src="drop.png")
