doctype html
html(lang="")
  head
    title Week
    link(rel="stylesheet", href="style.css")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap")
    link(rel="icon", href="favicon.ico")
    script(async, defer, data-website-id="1bd145de-c0c2-4217-acdd-991071dccdcd", src="https://umami.getweek.pro/umami.js")
    meta(name="yandex-verification", content="ad2ba74f7f4f77ec")
  body
    include header
    block content
