extends layout

block content
  section
    h1 Privacy Policy
    p Last updated: February 03, 2021
    p This Privacy Policy describes how your personal information is collected, used, and shared when you visit or make a purchase from Week. Your privacy is important to us and we are committed to protecting your personal information.
    p We only ask for personal information when we truly need it to provide a service to you.
    p We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we're collecting it and how it will be used.

    p If you choose to use Week, then you agree to the collection and use of information in relation to this policy.

    h2 Information we collect and use:
    ul
      li Your name and email address
      li Your Google OAuth 2 tokens
      li Google events and calendars infromation
      li Information for improving our service. This information includes, but not limited to, internet protocol (IP) address, browser type, date and time of the visit and pages you use.

    p We do not store your payment information.
    p We use cookies to improve quality of our service.

    h2 Changes to this policy</h2>
    p We may update Privacy Policy from time to time, so it is advised to review this Privacy Policy periodically for any changes. If you have any questions about how we handle user data and personal information, feel free to contact us via edencore@gmail.com.
