---
import Features from "../components/Features.astro";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<style is:global>
	a {
		color: #028dff;
		text-decoration: none;
	}

	* {
		color: #444;
	}
</style>
<style>
	body {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		padding: 0;
		margin: 0;
	}

	

	
	
	h1 {
		font-weight: 700;
		font-size: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
	}

	h2 {
		margin-top: 64px;
	}

	h3 {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 0;
		font-size: 16px;
		font-weight: 900;
	}

	.screenshots {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
	}

	.screen {
		margin-top: 48px;
		width: 100%;
		max-width: 1200px;
		border: 1px solid #cecece;
		border-radius: 3px;
	}

	.task-info {
		width: 450px;
		position: absolute;
		right: 0;
		bottom: 20px;
	}

	@media(max-width: 700px) {
		.task-info {
			display: none;
		}
	}

	.features {
		width: 90%;
		max-width: 1200px;
		margin: 24px auto;
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}

	.feature {
		flex: 1 1 300px;
		border-radius: 4px;
		text-align: left;
		border: 1px solid #d8d8d8;
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.09);
	}

	.feature .icon {
		padding: 4px;
		border-radius: 4px;
	}

	.feature .icon-1 {
		background-color: #d8ffcb5e;
		color: #d8ffcb;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature .icon-2 {
		background-color: #cbfeff5e;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature .icon-3 {
		background-color: #f9ffcb5e;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature .icon-4 {
		background-color: #ffcbd35e;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature .icon-5 {
		background-color: #f2cbff5e;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature .icon-6 {
		background-color: #cbdaff5e;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	.feature p {
		font-size: 14px;
	}

	.background {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 160px;
	}

	.background-1 {
		background: #d8ffcb5e;
	}

	.background-2 {
		background: #cbfeff5e;
	}
	
	.background-3 {
		background: #f9ffcb5e;
	}
	
	.background-4 {
		background: #ffcbd35e;
	}
	
	.background-5 {
		background: #f2cbff5e;
	}
	
	.background-6 {
		background: #cbdaff5e;
	}

	.content {
		padding: 16px;
	}

	.plans {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;
	}

	.plan {
		flex: 0 0 250px;
		border: 1px solid #d8d8d8;
		box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.09);
	}

	.plan h3 {
		justify-content: center;
		font-size: 24px;
		border-bottom: 1px solid #eee;
		margin-bottom: 24px;
	}

	.plan h4 {
		font-size: 36px;
		position: relative;
	}

	.plan h4 > span {
		position: absolute;
		top: 20px;
		font-size: 16px;
		opacity: 0.7;
	}

	.plan ul {
		text-align: left;
		margin: 10px 0 20px;
		padding: 0 16px;
	}

	.plan ul li {
		display: flex;
		justify-content: space-between;
	}

	.plan ul li + li {
		margin-top: 5px;
	}

	.plan li span:nth-child(2) {
		color: #028dff;
	}

	.plan-pro li span:nth-child(2) {
		color: #21a821;
	}

	.plan .details {
		margin-bottom: 16px;
		font-weight: 600;
	}

	.links {
		display: flex;
		justify-content: center;
		gap: 32px;
	}

	@media(max-width: 700px) {
		.links {
			flex-direction: column;
		}
	}

	.link {
		display: inline-block;
		padding: 8px 16px;
		background: #028dff;
		color: #fff;
		border-radius: 4px;
		flex: 0 0 120px;
		display: flex;
		align-items: center;
		justify-content: center	;
	}

	footer {
		font-size: 14px;
		margin-top: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 24px;
		padding: 0 20px;
	}

</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Week</title>
		<meta name="title" content="Week">
		<meta name="description" content="Task management tool with a heavy focus on planning">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://getweek.pro/">
		<meta property="og:title" content="Week">
		<meta property="og:description" content="Task management tool with a heavy focus on planning">
		<meta property="og:image" content="/main-screen.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://getweek.pro/">
		<meta property="twitter:title" content="Week">
		<meta property="twitter:description" content="Task management tool with a heavy focus on planning">
		<meta property="twitter:image" content="/main-screen.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
	</head>
	<body>
		<Header />
		<h1>
			<img src="/week.svg" width="48" height="48" />
			Week
		</h1>
    <slot />
		<Footer />
	</body>
</html>
